.imgSlide{
    height: 85vh;
    width: 100vw;
    opacity: 0.6;
    
}

h3{
    font-size: 300%;
    font-weight: 700;
    color: rgb(71, 71, 71);
}

p{
    font-size: 200%;
    font-weight: 500;
    color: rgb(71, 71, 71);
}
